html, body {
	height: 100%;
	background: rgba(216,216,216,1);

}

.top-box {
	height: 20%;
	background: rgba(64,64,64,1);

}

.center {
	height: 80%;
	width: 700px;
	background: rgba(255,255,255,1);
	margin-left: auto;
	margin-right: auto;
}

.bottom-box {
	height: 10%;
	width: 700px;
	background: rgba(32,32,32,1);
	margin: 0 auto;
}
